<div style=" display: flex; margin:10%">
Person Details 

              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{person.name}}</mat-card-title>
              <mat-card-subtitle>{{person.skill}}</mat-card-subtitle>
     
       
              <p>
                {{person.name + ' is educated in ' + person.eduction}}
              </p>
              <p >
                No of Project <b class="projects">{{person.numberOfProjects}}</b>
              </p>

              Details:

              sdlkfjlsdjflkjdslkfj
              dslkfjlkdsjf

              sdfkljsdf
              lksdfkjldsf of

              sdfkjlksdjflj
   

</div>